---
import BaseLayout from "../layouts/BaseLayout.astro";
import papImg from "../assets/pap.png";
---

<BaseLayout title="Jurnal Refleksi | Ceeley" sideBarActiveItemID="refleksi">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Apa yang telah saya pelajari dari mata kuliah ini?</div>
    <div class="text-xl w-full italic text-gray-500 mt-2">Sebuah Jurnal Perjalanan Pembelajaran Etika Budaya</div>
  </div>

  <div class="mb-10 text-justify prose prose-lg max-w-none">
    
    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 1: Introduction</h3>
    <p>
      Di awal pertemuan ini, Pak John hanya memberikan perkenalan terhadap kelasnya saja, bahwa beberapa 
      pertemuan awal akan membahas tentang budaya, dan kemudian pertemuan selanjutnya sampai akhir akan membahas tentang etika.
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 2: "Bebas Budaya"?</h3>
    <p>
    Perjalanan ini bermula di Pertemuan ke-2, saat Pak John melempar pertanyaan fundamental: "Bisakah manusia hidup tanpa budaya?"

    Saat itu, pikiran saya langsung menjawab: "Bisa." Saya berpikir budaya itu hanya sekadar warisan seremonial atau norma kuno. Saya pikir, jika saya menolak norma lama tersebut, saya tetap bisa hidup sebagai manusia fungsional. Saya merasa otonom dan bisa berdiri di atas logika saya sendiri tanpa bantuan "tradisi".

    Namun, setelah membedah materi lebih dalam, terlihat celah dalam logika saya. Ternyata, saat saya menolak budaya lama, saya tidak sedang meniadakan budaya, melainkan sedang mengadopsi atau menciptakan pola budaya baru yang lebih relevan dengan zaman sekarang. Kesimpulannya, budaya itu bersifat <i>Inseparable</i> (tak terpisahkan) dan Dinamis. Kita tidak bisa "keluar" dari budaya; kita hanya berpindah antar budaya.

    Hal ini mirip mekanisme Sistem Operasi (OS) di komputer. Kita bisa saja merasa OS lama sudah ketinggalan zaman dan menghapusnya. Tapi, kita menghapusnya untuk menggantinya dengan versi update (budaya baru). Komputer tidak bisa beroperasi tanpa OS sama sekali. Begitu pun manusia, tidak bisa berfungsi tanpa sistem nilai, sekuno atau semodern apa pun bentuknya.  
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 3: Agen Pewaris</h3>
    <p>
      Di Pertemuan ke-3, fokus beralih ke Agen Pewaris budaya. Poin kuncinya adalah bahwa pewarisan budaya sangat bergantung pada kredibilitas agennya. Sebuah nilai hanya akan bertahan jika agen pewarisnya (orang tua/guru) benar-benar mengimani dan mempraktikkan nilai tersebut.

      Hal ini sering dilihat dalam kehidupan beragama.
      Ada orang tua teman saya yang hanya mengajari agama agar anaknya bisa memiliki agama, padahal ia sendiri tidak percaya. 
      Akibatnya, teman saya kemudian menjadi bingung sendiri dengan agama yang dianutnya. Budaya gagal terwaris karena agennya tidak cukup "percaya" pada apa yang ia jual.
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 4: Terperangkap Jaring Laba-laba</h3>
    <p>
      Pemahaman mengenai budaya kemudian diperkuat dengan penjelasan dari konsep jaring laba-laba Clifford Geertz. Konsep yang sangat bagus dan mudah dipahami, memang.
      Laba-laba terus menerus menenun jaringnya, namun bagaimana jika ada laba-laba lain yang tercekik karena jaring yang dibuat temannya?
      Hal ini dapat saya katakan karena ada sebuah kejadian yang membuat saya berpikir demikian, namun disini akan saya jelaskan dengan sebuah kejadian yang memang benar sempat terjadi, yakni: <strong>Persekusi Cikupa</strong>.
    </p>
    <p>
      Cerita dari kejadian ini adalah, ada pasangan yang belum menikah, sedang berada di dalam kamar, tidak berbuat asusila, namun kemudian digrebek, dilucuti, dan dianiaya (oleh rombongan yang dibawa oleh ketua RT-nya, yang kemudian dibilang katanya hanya karena lagi emosi).
      Namun tetap saja, faktanya adalah dua kekasih di dalam ruang tertutup tidak berarti mereka sedang berzina. Namun oleh karena jaring laba-laba yang dibuat masyarakat bahwa tidak boleh pacaran berduaan di dalam kamar, 
      mereka dilucuti dan dianiaya. Kemudian mereka dinikahi. 

      <em>Tau darimana mereka siap nikah? Kalau sebenarnya mereka tidak mau menikah gimana? Bagaimana jika mereka berencana putus?</em>  
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 5: Subjektivitas Moral</h3>
    <p>
      Pada pertemuan ini kita mulai beranjak dari materi budaya menuju ke etika. Dimulai dari pembahasan mengenai apakah moral itu subjektif atau objektif. 
      Disini saya setuju bahwa moral itu memang bersifat subjektif. Kemudian kita juga sempat membahas sedikit mengenai <strong>Emotivism</strong>.
      Saya awalnya mendewakan moral berdasarkan pemikiran, namun kemudian belajar menghargai "perasaan" karena rasa tidak nyaman saya pada kasus Cikupa itu valid. Itu adalah alarm moral.
      Dan karena moral bersifat subjektif, jadi mungkin saja orang lain tidak merasakan hal yang sama terhadap kasus Cikupa.
    </p>

<h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 6: Kebebasan dan Tanggung Jawab</h3>
    <p>
      Kemudian dalam P6, membahas tentang hati nurani, kebebasan, dan tanggung jawab. Yang saya tahu mengenai hal ini sebelum memasuki kelas adalah mengenai kebebasan, dimana batas kebebasan kita adalah ketika kebebasan tersebut bersinggungan dengan kebebasan orang lain. Mengenai topik ini, saya juga sempat baca ketika mencari cari tentang Aristoteles. Tanggung jawab itu sangat berkaitan dengan sukarela yang dimana bisa kita bayangkan sebagai kebebasan dalam materi ini. Bagi Aristoteles, tanggung jawab itu tergantung apakah perbuatan yang dilakukan itu ‘sukarela’ atau tidak. Karena ia percaya bahwa tidak adil apabila kita meminta tanggung jawab terhadap perbuatan yang dilakukan dalam kondisi tidak sukarela. 
    </p>

    <p class="mt-4">
      Beberapa tindakan dikatakan oleh Aristoteles merupakan tindakan campuran: dilakukan karena keadaan memaksa, namun tetap dipilih oleh pelaku. Contoh konkret yang diberikan Aristoteles adalah kasus seorang Tiran yang menyandera keluarga seseorang dan memerintahkan orang tersebut melakukan hal jahat jika ingin keluarganya selamat. Ini disebut tindakan campuran karena di satu sisi sifatnya <b>tidak sukarela</b> (pelaku tidak ingin melakukan perbuatan jahat itu), namun di sisi lain menjadi <b>sukarela</b> karena pelaku memilih untuk melakukannya demi menyelamatkan keluarga. Tindakan tersebut tidak sepenuhnya memenuhi standar <i>voluntariness</i> karena ada faktor eksternal yang mempengaruhinya, meskipun sumber tindakan tetap ada pada pelaku.
    </p>

    <p class="mt-2">
      <i>“For such actions men are sometimes praised, and sometimes blamed, but they are more often pardoned.”</i><br/>
      <i>“Circumstances lessen responsibility.”</i><br/>
      Tanggung jawab yang tidak penuh dari tindakan yang tidak sepenuhnya sukarela.
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 7: Merapikan Isi Kepala</h3>
    <p>
      Di sini saya mulai menata ulang definisi di kepala saya. Membedakan mana Etiket (norma pada lingkungan tertentu), mana Etika (pemikiran), dan mana Moral (penilaian). Diskusi <strong>Metaetika</strong> tentang "membunuh demi bertahan hidup" melatih saya untuk tidak berpikir hitam-putih. Saya belajar nyaman berada di area abu-abu yang kompleks, memahami bahwa moralitas kadang bersifat kontekstual terhadap hak hidup itu sendiri.
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 8: Diam adalah pilihan</h3>
    <p>
      Kemudian di pertemuan ini ada dibahas mengenai contoh-contoh kasus yang memicu pertanyaan moral seperti pertanyaan mengenai aborsi itu betul atau salah. Ada pula pembahasan tentang pertanyaan <strong>Trolley Problem</strong>. 
      
      Ketika mengamati diri saya sendiri, saya sadar bahwa moral saya terikat pada pilihan yang saya ambil. Ketika saya membayangkan untuk memilih tidak mengikut campuri hal tersebut apapun yang menjadi harganya, saya merasa bebas dari tanggung jawab. 
      
      <i>But that’s not really the case, no?</i> Secara hati, saya bebas dari tanggung jawab, tapi ketika dipikirkan, tidak ikut campur juga merupakan sebuah pilihan. Hanya saja ketika saya memikirkan bahwa saya tidak ikut campur, <i>I let nature take its course</i>. 

      Saya juga sebelumnya pernah menonton tentang pertanyaan ini ditanyakan di kelas perkuliahan <strong>Harvard University</strong> berjudul <i>Justice</i>. Pertanyaan dalam kelas yang saya tonton ini berlanjut, tidak hanya sampai satu orang vs lima orang, tapi tentang mendorong orang dari jembatan ke bawah untuk menghentikan keretanya. 
      
      Di situ dibahas bahwa orang cenderung "mencuci tangan" ketika sebuah aksi meminta mereka sendiri yang turun tangan membunuh orang, berbeda dengan pertanyaan sebelumnya yang hanya tentang menarik tuas. Kebanyakan orang langsung tidak berani mengintervensi kejadian tersebut (mendorong orang dari jembatan). Moral kita sangat tergantung akan apa yang kita lakukan dengan kebebasan kita memilih dan tanggung jawab yang mengikuti setelahnya.
    </p>

    <h3 class="font-bold text-xl mt-8 mb-2">Pertemuan 9 & Seterusnya: Etika Bidang </h3>
    <p>
      Mulai dari pertemuan ini dan seterusnya, kita membahas mengenai etika dalam bidang-bidang yang beragam seperti: etika politik, etika teknologi, dan etika kedokteran.
      
      Yang sangat terasa bagi saya adalah bahwa moral itu sangat kontekstual, sangat subjektif. Sedikit kaku apabila kita menutup statement moral dalam sebuah kotak. Namun, itu pula diperlukan dalam pembuatan hukum. 
      
      Hal ini menjawab satu pertanyaan saya yang sempat saya pertanyakan sejak dulu: "Jurusan filsafat kalau lulus kerjanya ngapain?" Bisa bantuin buat hukum, dek. HAHA
    </p>

    </p>

    <div class="mt-12 mb-5 text-center">
      <img 
        src={papImg.src} 
        alt="Bukti catatan dan materi pembelajaran" 
        class="rounded-lg shadow-md mx-auto w-full max-w-2xl" 
      />
      
      <p class="text-sm text-gray-600 italic mt-3">
        Lampiran bukti perjalanan belajar ini, biar nggak dikira ChatGPT doang :p
        <br />
        <span class="font-normal block mt-1">The urge to actually enroll in a philosophy major HAHAH</span>
      </p>
    </div>
    </div>
</BaseLayout>
